/* COMMON */
body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

section {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.banner {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.banner p {
    font-size: .8rem;
}

.text-wrapper {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

p {
    font-size: .9rem;
}

.btn {
    font-size: .8rem;
}

/* HEADER */
header {
    width: 100%;
}

.header-top {
    background-color: black;
}

#header-logo {
    width: 5rem;
    margin: .5rem;
}

.ms_chevron {
    width: .5rem;
    margin-left: .2rem;
}

.header-bottom span {
    color: black;
    font-size: 1rem;
}

.header-bottom .btn {
    font-size: 1rem;
}

.lens-img {
    width: 1.5rem;
    margin-left: 1rem;
}

/* MAIN */

/* Banner 1 */
.first-banner {
    background-image: url("../img/jumbo-bg.png");
    margin-top: 6rem;
}

.banner-logo > img {
    width: 8rem;
    padding: 1rem 0;
}

.ms_btn-red {
    background-color: #cd3d10;
    color: white;
}


/* Gallery */
.gallery {
    width: 100%;
}

.ms_rounded-img {
    border-radius: 10px;
}

.ms_rounded-img > img {
    display: block;
    border-radius: 15px;
}

.first-gallery .text-wrapper {
    padding-top: 5rem;
}


/* Playstation 5 */
.console {
    width: 100%;
}

.ms_row-ps5 img {
    width: 6rem;
    padding-bottom: .5rem;
}

.ms_row-ps5 {
    text-align: center;
}

.ms_row-ps5 p {
    font-size: .7rem;
    padding-bottom: 1rem;
}


/* Banner 2 */
.second-banner {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}


/* Gallery 2 */
.new-games {
    background-color: #1f1f1f;
    color: white;
}

.ms_row-games > div,
.ms_row-games img {
    border-radius: 15%;
}


/* Playstation 4 */
.ms_row-ps4 {
    padding-top: 2rem;
}


/* Banner 3 */
.banner-small {
    background-color: #bebcbb;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 2rem;
}

.psplus-logo > img,
.psnow-logo > img {
    width: 13rem;
    padding-bottom: 1.5rem;
}

.banner-small .btn {
    background-color: #d9dadc;
    border-color: #d9dadc;
}

/* Banner 4  */
.second-banner-small {
    background-color: #161c3b;
    color: white;
}


/* FOOTER */
footer {
    width: 100%;
    background-color: #00439c;
    color: white;
}

#footer-top-logo {
    width: 5rem;
}

.country-selection img {
    width: 1rem;
    margin: .8rem;
}

.country-selection > span {
    font-size: .8rem;
    vertical-align: middle;
}

footer ul {
    list-style: none;
    font-size: .8rem;
}

footer li {
    padding: .3rem 0;
}

footer a {
    text-decoration: none;
    color: white;
}

#footer-bottom-logo {
    width: 8rem;
}