/* COMMON */
img {
    width: 100%;
}

/* HEADER */
header {
    width: 100%;
    height: 100px;
    background-color: black;
}


/* MAIN */
.banner {
    width: 100%;
    height: 300px;
    background-color: darkcyan;
}

.gallery {
    width: 100%;
    height: 200px;
    background-color: darkmagenta;
}

.console {
    width: 100%;
    height: 500px;
    background-color: darkorange;
}

.d-flex > img {
    width: 140px;
}

/* FOOTER */
footer {
    width: 100%;
    height: 300px;
    background-color: darkgoldenrod;
}